

$webResourceManager.requireResource("com.edwardawebb.jira-assign-escalate-plugin:jira-assign-escalate-plugin-resources")


<section id="content" role="main">
<!-- Page Header must go inside #content before .aui-page-panel -->

    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main" >
                <h1>Support Assigner - Support Teams</h1>
            </div>
            <div>
                <button id="create-support-team" class="aui-button aui-button-subtle" disabled><span class="aui-icon aui-icon-small aui-iconfont-configure">Configure </span> New Team</button>
            </div>
        </div>
    </header>

<!-- Page Header must go inside #content before .aui-page-panel -->
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                
                
                    <div id="aui-message-bar"></div>
                    <div class="aui-tabs horizontal-tabs" id="tabs-$team.ID">
                        <ul class="tabs-menu" id="tabsMenu-$team.ID">

                            #set( $first=true )
                            #foreach ($team in $projectTeams)
                                <li class="menu-item">
                                    <a href="#tabs-team-$team.id"><strong>$team.name</strong></a>
                                </li>
                            #end
                        </ul>

                    #set( $first=true )
                    #foreach ($team in $projectTeams)
                        $soyRenderer.render("com.edwardawebb.jira-assign-escalate:jira-assign-escalate-resources","JIRA.Templates.AssignEscalate.supportTeamTab",{
                            'team': $team
                        })
                    #end

                </div>

            </section>
        </div>
    </div>
</section>


<!-- data used by soy templates -->
<input id="projectId" type="hidden" value="$project.id"/>

<script>
var rolesData = [
    #foreach ($role in $roles)
        {name: "$role.name"},
    #end
];
    
</script>

<script src="$req.contextPath/download/resources/com.edwardawebb.jira-assign-escalate:jira-assign-escalate-resources/jira-assign-escalate.js"></script>
<script src="$req.contextPath/download/resources/com.edwardawebb.jira-assign-escalate:jira-assign-escalate-resources/new-support-team-form.js"></script>
<script src="$req.contextPath/download/resources/com.edwardawebb.jira-assign-escalate:jira-assign-escalate-resources/support-team-rows.js"></script>
<script src="$req.contextPath/download/resources/com.edwardawebb.jira-assign-escalate:jira-assign-escalate-resources/support-team-tabs.js"></script>
<script src="$req.contextPath/download/resources/com.edwardawebb.jira-assign-escalate:jira-assign-escalate-resources/new-support-team.js"></script>









   