<tr>
    <td class="fieldLabelArea">
        Team to Assign:
    </td>
    <td nowrap>
        <input name="teamName" id="teamName" value="$teamName" />
    </td>
</tr>
<tr>
    <td class="fieldLabelArea">
        Attempt to use Component(s) first?
    </td>
    <td nowrap>
        <input type="checkbox" name="componentMatch" id="componentMatch" $componentMatch />
    </td>
</tr>
<tr>
    <td class="fieldLabelArea">
       Do not override Assignee from creator or JIRA default logic?</br>
        NOTE: You most likely don't want this box checked, see <a href="https://eddiewebb.atlassian.net/wiki/x/C4B0Ag">docs</a>.
    </td>
    <td nowrap>
        <input type="checkbox" name="overrideBlocked" id="overrideBlocked" $overrideBlocked />
    </td>
</tr>