<tr>
    <td class="fieldLabelArea">
        Team to Assign:
    </td>
    <td nowrap>
        <input name="teamName" id="teamName" value="$teamName" />
    </td>
</tr>
<tr>
    <td class="fieldLabelArea">
        Attempt to use Component(s) first?
    </td>
    <td nowrap>
        <input type="checkbox" name="componentMatch" id="componentMatch" $componentMatch />
    </td>
</tr>